#page { width : 75em; }
#general-comments { width : 50%; }
.content { padding: 18px; }

html, body { font-family: Helvetica, sans-serif; font-size: 13px; line-height: 17px; letter-spacing: 0.1px; }
body { padding: 34px; }

h1, h2 { font-weight: normal; }

code { font-family: Monaco, monospace; font-size: 12px; }
h1 { font-size: 26px; line-height: 34px;  }
h2 { font-weight: bold; display: inline; border-bottom: 3px solid black; }

input[type='text'], label { border-style: none; border-bottom: 3px solid black; width: 100%; font-weight: bold;}
textarea { border: 3px solid #000; width: 100%; }

table#text-table { table-layout: fixed; }
    table#text-table td { vertical-align: top; padding: 18px;}
    #col-paragraphs, #col-comments { width: 50%; }

div#text { width: 50%; }
div#text p { margin-bottom: 17px; }
div#text h1 { margin-bottom: 34px; }
div#text h2 + p { margin-top: 17px; }
div#text img { display: block; margin: 0 auto;  }
div#text img + img { margin-top: 17px;  }

div#text span.legend { color: red; }


ul { padding-left: 18px; border-left: 3px solid #000;}
ul + ul { padding-top: 18px; }
ul ul { margin-top: 18px; }

li:first-child { padding-top: 0; }
li { list-style-type: none; padding-top: 18px; }

div.signature { color: gray; }
a { color: inherit; }
.comment-on { margin: 34px 0 18px 0; }
.comment-form { margin-bottom: 34px; }
.comment-form p { padding: 0.1em 0; }
.comment-form input[type='text'] { border: 0; border-bottom: 3px solid black; height: 13px; line-height: 18px; font-size: 13px; font-family: Helvetica, sans-serif; }
.comment-form textarea { width: auto; height: 20em; border: 3px solid black; vertical-align: top; font-family: Helvetica, sans-serif; line-height: 1.3em; margin-bottom: 15px; }
.comment-form input[type='submit'] { padding: 0 ; margin: 0; padding-top: 2px; margin-top: -2px; border-style: none; background-color: black; color: white; font-size: 13px; line-height: 18px; font-family: Helvetica, sans-serif; }

div.comment-count, #general-comment-count { margin-bottom: 18px; }
div.comment-count a { text-decoration: none; border-left: 3px solid black; padding-left: 3px; }
#general-comment-count a { text-decoration: none; }
div.comment-count a:hover,  #general-comment-count a:hover { background-color: lightgray; }

#comment-form { width: 100%; }
#comment-form td { padding: 0 0 18px 18px; }

blockquote * { quotes: ''; }
blockquote > *:before { content: '\201C'; }
blockquote > *:after { content: '\201D'; }
blockquote q:before { content: '\2018'; }
blockquote q:after { content: '\2019'; }

#general-comments { border-top: 3px solid black; }

dd { padding-left: 18px; }
#metadata p:hover { cursor: pointer; }
/*#metadata { -moz-column-width:10em; -moz-column-gap:18px; }*/

.markedit textarea { font-family: Helvetica; }
