/* PAGE */
div#page { width : 75em; }
div.content { padding: 18px; }
html, body { font-family: Helvetica, sans-serif; font-size: 13px; line-height: 17px; letter-spacing: 0.1px; }
body { padding: 34px; }


/* REDEFINITION OF TAGS */
h1, h2 { font-weight: normal; }
h1 { font-size: 26px; line-height: 34px;  }
h2 { font-weight: bold; display: inline; border-bottom: 3px solid black; }
a { color: inherit; }
a:hover { color: MediumBlue;}
dd { padding-left: 18px; }

blockquote * { quotes: ''; }
blockquote > *:before { content: '\201C'; }
blockquote > *:after { content: '\201D'; }
blockquote q:before { content: '\2018'; }
blockquote q:after { content: '\2019'; }
code { font-family: Monaco, monospace; font-size: 12px; }

input[type='text'], label { border-style: none; border-bottom: 3px solid black; width: 100%; font-weight: bold;}
textarea { border: 3px solid #000; width: 100%; }

ul { padding-left: 18px; border-left: 3px solid #000;}
ul + ul { padding-top: 18px; }
ul ul { margin-top: 18px; }
li:first-child { padding-top: 0; }
li { list-style-type: none; padding-top: 18px; }


/* TABLE */
table#text-table { table-layout: fixed; }
    table#text-table td { vertical-align: top; padding: 18px;}
    col#col-paragraphs, col#col-comments { width: 50%; }


/* TEXT */
p#author { font-size: 18px; }
div#metadata { font-size: 10px; line-height: 1.5em; }
div#metadata p:hover { cursor: pointer; }
div#metadata dt { font-weight: bold; float: left; margin-right: 0.5em; }
div#text { width: 50%; }
div#text p { margin-bottom: 17px; }
div#text h1 { margin-bottom: 34px; }
div#text h2 + p { margin-top: 17px; }
div#text img { display: block; margin: 0 auto;  }
div#text img + img { margin-top: 17px;  }
div#text span.legend { color: red; }


/* COMMENTS */
div.comment-count, #general-comment-count { margin-bottom: 18px; }
div.comment-count a { text-decoration: none; border-left: 3px solid black; padding-left: 3px; }
div.comment-block { display: none; }
    div.comment-text { height: auto; overflow: hidden; margin-bottom: 0.4em; border-bottom: 1px dashed gray; }
    div.signature { color: gray; }
    a.collapse-one { text-decoration: none; }
    /* ADD COMMENT */
    div.comment-on { margin: 34px 0 18px 0; }
    div.comment-form { margin-bottom: 34px; }
    div.comment-form p { padding: 0.1em 0; }
    div.comment-form input[type='text'] { border: 0; border-bottom: 3px solid black; height: 13px; line-height: 18px; font-size: 13px; font-family: Helvetica, sans-serif; }
    div.comment-form textarea { width: auto; height: 20em; border: 3px solid black; vertical-align: top; font-family: Helvetica, sans-serif; line-height: 1.3em; margin-bottom: 15px; }
    div.comment-form input[type='submit'] { border: 3px solid #000; background: none; color: black; padding: 0 ; margin: 0; padding-top: 2px; margin-top: -2px; font-size: 13px; font-weight: bold; line-height: 18px; font-family: Helvetica, sans-serif; }
        table#comment-form { width: 100%; }
        table#comment-form td { padding: 0 0 18px 18px; }
div#general-comment-count a { text-decoration: none; }
div#general-comments { width : 50%; border-top: 3px solid black; }
