<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>{% block title %}Title{% endblock title %}</title>
    
    <link rel="stylesheet" href="/static/css/reset.css" type="text/css" media="screen" title="no title" charset="utf-8" />
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8" />
    <script type="text/javascript" src="/static/js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.7.2.custom.min.js"></script>
    <script type="text/javascript" src="/static/js/closecommenting.js"></script>

    {% block extra-head %}{% endblock %}
</head>

<body>
    
{% block content %}
    Here comes the content.
{% endblock content %}

</body>
</html>
