{% load comments %}
{% load threadedcomments_tags %}
{% load markup %}
{% load url_utils %}

<div id='add-comment'>
    <div class='comment-on'>
        You are commenting on: 
        <blockquote>
            {{ comment_on|markdown|truncatewords_html:20}}
        </blockquote>
    </div>
    <div class='comment-form'>

<form method="post" action="/comments/post/">
    <table id="comment-form">
        {% for field in comment_form %}
            {% if field.is_hidden %}
                <p>{{ field }}</p>
            {% else %}
                    
            <tr 
                {% if field.errors %} class="error"{% endif %}
                {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}
            >
                <th>
                    {{ field.label_tag }}
                </th>
                <td>
                    {{ field }}
                </td>
            </tr>
            {% endif %}
        {% endfor %}
            <tr>
                <th></th>
                <td>
                    <input type="hidden" name="next" value="{% url closecommenting-detail text.dc_identifier %}{% query_string "" "c, cc, cp, ct" %}cp={{ paragraph.id }}#add-comment" />
                    <input type="submit" name="submit" class="submit-post" value="Post" />
                </td>
            </tr>
    </table>
</form>
    </div>
</div>
