{% extends 'closecommenting/base.html' %}

{% load comments %}
{% load threadedcomments_tags %}
{% load markup %}
{% load url_utils %}
{% load utils %}


{% block title %}
    {{ text.dc_title }} by {{ text.dc_creator }} 
{% endblock title %}


{% block content %}
    
    <div id="page">
        <table id="text-table">
            <colgroup>
                <col id="col-paragraphs" />
                <col id="col-comments" />
            </colgroup>
            <tr>
                <td>
                    <p id='author'>{{ text.dc_creator }}</p>
                    <h1>{{ text.dc_title }}</h1>
                    <div id="metadata">
                        <p>METADATA ↓</p>
                        <dl>
                            <dt>Contributor</dt>
                                <dd>{{ text.dc_contributor }}</dd>
                            <dt>Publishing date</dt>
                                <dd>{{ text.dc_date }}</dd>
                            <dt>Publisher</dt>
                                <dd>{{ text.dc_publisher }}</dd>
                            <dt>Language</dt>
                                <dd>{{ text.dc_language }}</dd>
                            <dt>Type</dt>
                                <dd>{{ text.dc_type }}</dd>
                            <dt>Subject</dt>
                                <dd>{{ text.dc_subject }}</dd>
                            <dt>Description</dt>
                                <dd>{{ text.dc_description }}</dd>
                        </dl>
                    </div>
                </td>
                <td><a href='#' id='all-comments'>show/hide all comments</a></td>
            </tr>
            {% for paragraph in text.paragraph_set.all %}
                <tr>
                    <td>{{ paragraph.content|safe}}</td>
                    <td>
                        {% get_comment_count for paragraph as comment_count %}
                        <div class="comment-count">
                            <a href='#' class='collapse-block'> ⬇</a>
                            {{ comment_count }} comment(s)
                            <a href='{% query_string "" "cc, cp, ct" %}cp={{ paragraph.id }}#add-comment'>✎</a>
                            <a href='#' class='preview-all'>collapse all</a>
                        </div>
                        <div class='comment-block'>
                        {% get_comment_list for paragraph as comment_list %}
                        {% assign comment_target paragraph %}
                        {% include 'closecommenting/comments.html' %}
                        
                        {% ifequal cp paragraph.id  %}
                            {% get_comment_form for paragraph as comment_form %}
                            {% assign comment_on paragraph.content %}
                            {% include 'closecommenting/comment-form.html' %}
                        {% endifequal %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div id="general-comments">
            <div class="content">
                
                {% get_comment_count for text as comment_count %}
                <div id="general-comment-count">
                    <a href='{% query_string "" "cc, cp, ct" %}ct={{ text.id }}#add-comment'>
                        ✎ {{ comment_count }} general comment{{ comment_count|pluralize }}
                    </a>
                </div>
                
                {% get_comment_list for text as comment_list %}
                {% assign comment_target text %}
                {% include 'closecommenting/comments.html' %}
                
                {% ifequal ct text.id  %}
                    {% get_comment_form for text as comment_form %}
                    {% assign comment_on text.body %}
                    {% include 'closecommenting/comment-form.html' %}
                {% endifequal %}
                
            </div>
        </div>
        
    </div>
    
{% endblock content %}
